.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

form{
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 10px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
}

input,
select,
button{
  display: block;
  width: 80%;
  padding: 10px;
  margin-left: 5%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(199, 231, 244);
}

button{
  width: 30%;
  background-color: #0261d5;
  cursor: pointer;
  color: white;
  border: none;
}

button:hover{
  color: navy
}

select{
  width: 87%;
}

.success.Message{
  color: green;
}